<!DOCTYPE html>
<html>

<head>

<title>Add Employee</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<h1>Employee Management System</h1>

</header>

<nav>

<a href="/">Home</a>

<a href="/employees">Employees</a>

<a href="/add">Add Employee</a>

</nav>

<div class="container">

<h2>Add Employee</h2>

<form method="POST">

<label>Employee ID</label>

<input type="number" name="id" required>

<br><br>

<label>Name</label>

<input type="text" name="name" required>

<br><br>

<label>Department</label>

<input type="text" name="department" required>

<br><br>

<button type="submit">

Add Employee

</button>

</form>

</div>

</body>

</html>